flask
coverage
pdoc3
openpyxl
Flask-SQLAlchemy
python-dotenv
psycopg2-binary
matplotlib
numpy
scipy
Flask-APScheduler
markdown
Flask-WTF
pytest
pylint
pytest-cov
playwright
pytest-playwright
Flask-Babel
pandas
flask-cors
gunicorn
Faker