{% extends 'base.html' %}

{% block title %}{{ _('Suljettu kysely') }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
</br>
<h1>
    <img src="{{ url_for('static', filename='images/assignment_white_36dp.svg') }}" alt="" width="34" height="30" class="d-inline-block align-text-middle">
    {{ survey_name }}
</h1>
<div class="closed-survey-notifier">
    <div class="closed-survey-icon">
        <img src="{{ url_for('static', filename='images/warning_amber_white_36dp.svg') }}" alt="" width="100%" height="100%" class="d-inline-block align-text-middle">
    </div>
    <div class="closed-survey-content">
        <h2>{{ _('Kysely on suljettu') }}</h2>
        <p>
            {{ _('Tämä kysely on suljettu eikä siihen voi enää vastata.')}}
            {% if good_survey_choices|length %}
            {{ _('Vastauksesi kyselyyn on talletettu ja näet tekemäsi valinnat alta.') }}
            {% else %}
            {{ _('Et ole vastannut tähän kyselyyn.') }}
            {% endif %}
        </p>
    </div>
</div>

{% if good_survey_choices|length %}
<section>
    <h2>{{ _('Tehdyt valinnat') }}:</h2>

    <strong>{{ _('Valitut ryhmät mielekkyysjärjestyksessä') }}:</strong>
    <div class="choices-container border-green">
        <ol>
            {% for group in good_survey_choices %}
            <li>{{group.name}}</li>
            {% endfor %}
        </ol>
    </div>

    {% if bad_survey_choices|length %}
    <strong>{{ _('Ryhmät joihin osallistumiseen on este') }}:</strong>
    <div class="choices-container border-red">
        <ol>
            {% for group in bad_survey_choices %}
            <li>{{group.name}}</li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
</section>
{% endif %}
{% endblock %}
