{% extends 'base.html' %}

{% block title %}Luo uusi kysely{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/create_survey.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_survey.css') }}">
{% endblock %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
            $("#choiceTable").sortable({
              items: "tr:not(#newRow)"
            });
    })
  </script>
    <a href="/from_csv">Tuo CSV</a><br>
    <h1 class="page-title">
      <img src="{{ url_for('static', filename='images/note_add_white_36dp.svg') }}"
           alt=""
           class="d-inline-block align-text-middle"
      >
      Luo uusi kysely
    </h1>

    <section>
      <h2>Kyselyn nimi</h2>
      <input type="text" class="form-control" id="groupname" name="groupname" />
    </section>

    <section>
      <h2>Kyselyn kuvaus</h2>
      <p>Tähän voit antaa kuvauksen kyselystä ja ohjeita siihen vastaamiseen. Kuvausteksti näytetään vastaajalle kyselyn yhteydessä</p>
      <textarea id="survey-information" class="form-control"></textarea>
    </section>

    <section>
      <h2>Priorisoitavat ryhmät</h2>
      <p>Syötä ryhmät jotka kyselyyn vastaaja voi asettaa mielekkyysjärjestykseen. Anna kullekkin ryhmälle myös sen enimmäiskoko. Halutessasi voit lisätä lisätietoa kohteesta omiin sarakkeisiinsa. Sarakkeen voit luoda painamalla "+ Lisää sarake".</p>
      <table class="table table-dark table-striped table-hover">
        <thead class="">
          <tr id="table-headers">
            <th class="constant-header">Nimi</th>
            <th class="constant-header">Enimmäispaikat</th>
            <th class="variable-header" id="add-column-header">+ Lisää sarake</th>
          </tr>
        </thead>
        <tbody id="choiceTable" class="">
          <tr>
            <td><span>tyhjä</span></td>
            <td><span>tyhjä</span></td>
          </tr>
        </tbody>
      </table>
      <button onclick="addRow()" class="new-row-input btn btn-secondary" name="addchoice">+ Lisää rivi</button>
    </section>

    <section>
      <button type="submit" class="btn btn-primary" value="Luo kysely" onclick="createNewSurvey()" name="createsurvey">Luo kysely</button>
    </section>
{% endblock %}