{% extends 'base.html' %}

{% block title %}Muokkaa kyselyä{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/create_survey.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_survey.css') }}">
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
  $( document ).ready(function() {
    $("#start-date").datepicker({
      dateFormat: "dd.mm.yy"
    });
    $("#end-date").datepicker({
      dateFormat: "dd.mm.yy"
    });
  });
</script>

<section>
  <h2>Kyselyn nimi</h2>
  <input
      type="text"
      class="form-control"
      id="groupname" name="groupname"
      validation-regex=".{5,}"
      validation-text="Kyselyn nimen tulee olla vähintään 5 merkkiä pitkä"
      onchange="fieldIsValid(this)"
      {% if survey.surveyname %}
        value="{{survey.surveyname}}"
      {% endif %}
  />
  <ul class="validation-warnings-list hidden">
    <li><span class="input-validation-warning" id="groupname-validation-warning"></span></li>
  </ul>  
</section>

<section>
  <h2>Vastausaika</h2>
  <p>Voit pidentää tai lyhentää aikaväliä, jolloin kyselyyn on mahdollista vastata.</p>
  <label>Vastausaika alkaa:</label><br />
  <input
    data-role="date"
    type="text" id="start-date"
    class="datetime-input-field"
    name="startdate"
    validation-regex="\d\d\.\d\d\.\d\d\d\d"
    validation-text="Päivämäärän tulee olla muodossa pp.kk.yyyy"
    value="{{survey.start_date}}"
    >
  <label for="starttime"class="time-label">Kello:</label><input type="time" name="starttime" id="starttime" class="datetime-input-field" validation-regex="\d\d\:\d\d" validation-text="Ajan tulee olla muodossa hh.mm" value="{{ survey.start_time }}"/>
  <br/>
  <ul class="validation-warnings-list hidden">
    <li><span class="input-validation-warning" id="startdate-validation-warning"></span></li>
    <li><span class="input-validation-warning" id="starttime-validation-warning"></span></li>
  </ul>
  <label>Vastausaika päättyy:</label><br />
  <input 
    data-role="date"
    type="text"
    id="end-date"
    class="datetime-input-field"
    name="enddate"
    validation-regex="\d\d\.\d\d\.\d\d\d\d"
    validation-text="Päivämäärän tulee olla muodossa pp.kk.yyyy"
    value="{{survey.end_date}}"
    >
  <label for="endtime" class="time-label">Kello:</label><input type="time" name="endtime" id="endtime" class="datetime-input-field" validation-regex="\d\d\:\d\d" validation-text="Ajan tulee olla muodossa hh.mm" value="{{ survey.end_time }}"/>
  <ul class="validation-warnings-list hidden">
    <li><span class="input-validation-warning" id="enddate-validation-warning"></span></li>
    <li><span class="input-validation-warning" id="endtime-validation-warning"></span></li>
  </ul>
</section>

<section>
  <h2>Kyselyn kuvaus</h2>
  <p>Voit muokata kyselyn kuvausta</p>
  <textarea id="survey-information" class="form-control">{% if survey.surveyname %}{{survey.survey_description}}{% endif %}</textarea>
</section>

<section>
  <h2>Priorisoitujen ryhmien vähimmäismäärä</h2>
  <p>Montako ryhmää opiskelijan tulee vähintään laittaa järjestykseen kyselyssä</p>
  <input
      type="text"
      class="form-control"
      id="minchoices" name="minchoices"
      validation-regex="\d+"
      validation-text="Kentän tulee olla kokonaisluku"
      onchange="fieldIsValid(this)"
      {% if survey.min_choices %}
        value="{{survey.min_choices}}"
      {% endif %}
    />
    <ul class="validation-warnings-list hidden">
      <li><span class="input-validation-warning" id="minchoices-validation-warning"></span></li>
    </ul>
</section>

<section>
  <h2>Priorisoitavat ryhmät</h2>
  <p>Syötä ryhmät jotka kyselyyn vastaaja voi asettaa mielekkyysjärjestykseen. Anna kullekkin ryhmälle myös sen enimmäiskoko. Halutessasi voit lisätä lisätietoa kohteesta omiin sarakkeisiinsa. Sarakkeen voit luoda painamalla "+ Lisää tietokenttä".</p>
  <table class="table table-dark table-striped table-hover choice-table-main">
    <thead class="">
      <tr id="column-delete-btns">
        <td></td>
        <td></td>
        {% if survey is not none %}
          {% if survey.choices|length > 0 %}
            {% for variable_column in survey.variable_columns %}
            <td class=""><div class="delete-col-btn"></div></td>
            {% endfor %}
          {% endif %}  
        {% endif %}
      </tr>
      <tr id="choice-table-headers">
        <th class="constant-header" col-validation-regex=".{5,}" validation-text="yli 5 merkkiä pitkiä">Nimi</th>
        <th class="constant-header" col-validation-regex="\d+" validation-text="kokonaislukuja">Enimmäispaikat</th>
      {# additional columns if template loaded with survey parameter present #}
      
      {% if survey is not none %}
        {% if survey.choices|length > 0 %}
          {% for colname in survey.variable_columns %}
            <th class="variable-header">{{colname}}</th>
          {% endfor %}
        {% endif %}
      {% endif %}

      <th class="variable-header" id="add-column-header">+ Lisää tietokenttä</th>
    </tr>
  </thead>
  <tbody id="choiceTable" class="">
  {# If survey parameter is present, create rows for each choice #}
  {% if survey is not none %}
    {% if survey.choices|length > 0 %}
      {% for choice in survey.choices %}
        <tr>
          <td>{{ choice.name }}</td>
          <td>{{ choice.seats }}</td>
          {% for colname in survey.variable_columns %}
            <td>{{choice[colname]}}</td>
          {% endfor %}
          <td class="action-cell" tabindex="0"><div class="delete-row-btn"></div></td>
        </tr>
      {% endfor %}

    {# If survey parameter is not set, create empty row with columns for constant values #}
    {% endif %}
    {% else %}
      <tr>
        <td class="empty" tabindex="0">tyhjä</td>
        <td class="empty" tabindex="0">tyhjä</td>
        <td class="action-cell" tabindex="0"><div class="delete-row-btn"></div></td>
      </tr>
  {% endif %}
    
  </tbody>
</table>
<ul class="validation-warnings-list hidden" id="choicetable-validation-warnings">
</ul>

<button onclick="addRow()" class="new-row-input btn btn-secondary" name="addchoice">+ Lisää vaihtoehto</button>
</section>

<section>
<input type="hidden" value="{{survey_id}}" id="survey_id">
<button type="submit" class="btn btn-primary" value="Tallenna muutokset" onclick="saveEdit()" name="save_edit">Tallenna muutokset</button>
</section> <!--TODO function saveEdit-->
{% endblock %}