{% extends 'base.html' %}

{% block title %}{{ _('Muokkaa kyselyä') }}{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/create_survey.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_survey.css') }}">
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
  $( document ).ready(function() {
    $("#end-date").datepicker({
      dateFormat: "dd.mm.yy"
    });
  });
</script>
<section>
  <h2>{{ _('Kyselyn muokkaus') }}</h2>
</section>
<section>
  <h4>{{ _('Anna käyttäjälle hallinnointioikeudet kyselyyn.') }}</h4>
  <label>{{ _('Syötä käyttäjän sähköpostiosoite.') }}</label><br><br>
  <input type="email" name="email" id="email"><br><br>
<button type="submit" class="btn btn-success btn-sm" name="addin_owner_time" onclick="add_owner()">{{ _('Lisää käyttäjä') }}</button>
<br>
</section>

<section>
  <h4>{{ _('Kyselyn nimi') }}</h4>
  <input
      type="text"
      class="form-control"
      id="groupname" name="groupname"
      validation-regex=".{5,}"
      validation-text="Kyselyn nimen tulee olla vähintään 5 merkkiä pitkä"
      onchange="fieldIsValid(this)"
      {% if survey.surveyname %}
        value="{{survey.surveyname}}"
      {% endif %}
  />
  <ul class="validation-warnings-list hidden">
    <li><span class="input-validation-warning" id="groupname-validation-warning"></span></li>
  </ul>  
</section>

<section>
  <h4>{{ _('Vastausaika') }}</h4>
  <p>{{ _('Voit pidentää tai lyhentää aikaväliä, jolloin kyselyyn on mahdollista vastata.') }}</p>
  <label>{{ _('Vastausaika päättyy:') }}</label><br/>
  <input 
    data-role="date"
    type="text"
    id="end-date"
    class="datetime-input-field"
    name="enddate"
    validation-regex="\d\d\.\d\d\.\d\d\d\d"
    validation-text="Päivämäärän tulee olla muodossa pp.kk.yyyy"
    value="{{survey.end_date}}"
    >
  <label for="endtime" class="time-label">{{ _('Kello') }}:</label>
      <select name="endtime" id="endtime" class="datetime-input-field">
        <option value="00:00" {% if survey.end_time == "00:00" %}selected{% endif %}>00:00</option>
        <option value="01:00" {% if survey.end_time == "01:00" %}selected{% endif %}>01:00</option>
        <option value="02:00" {% if survey.end_time == "02:00" %}selected{% endif %}>02:00</option>
        <option value="03:00" {% if survey.end_time == "03:00" %}selected{% endif %}>03:00</option>
        <option value="04:00" {% if survey.end_time == "04:00" %}selected{% endif %}>04:00</option>
        <option value="05:00" {% if survey.end_time == "05:00" %}selected{% endif %}>05:00</option>
        <option value="06:00" {% if survey.end_time == "06:00" %}selected{% endif %}>06:00</option>
        <option value="07:00" {% if survey.end_time == "07:00" %}selected{% endif %}>07:00</option>
        <option value="08:00" {% if survey.end_time == "08:00" %}selected{% endif %}>08:00</option>
        <option value="09:00" {% if survey.end_time == "09:00" %}selected{% endif %}>09:00</option>
        <option value="10:00" {% if survey.end_time == "10:00" %}selected{% endif %}>10:00</option>
        <option value="11:00" {% if survey.end_time == "11:00" %}selected{% endif %}>11:00</option>
        <option value="12:00" {% if survey.end_time == "12:00" %}selected{% endif %}>12:00</option>
        <option value="13:00" {% if survey.end_time == "13:00" %}selected{% endif %}>13:00</option>
        <option value="14:00" {% if survey.end_time == "14:00" %}selected{% endif %}>14:00</option>
        <option value="15:00" {% if survey.end_time == "15:00" %}selected{% endif %}>15:00</option>
        <option value="16:00" {% if survey.end_time == "16:00" %}selected{% endif %}>16:00</option>
        <option value="17:00" {% if survey.end_time == "17:00" %}selected{% endif %}>17:00</option>
        <option value="18:00" {% if survey.end_time == "18:00" %}selected{% endif %}>18:00</option>
        <option value="19:00" {% if survey.end_time == "19:00" %}selected{% endif %}>19:00</option>
        <option value="20:00" {% if survey.end_time == "20:00" %}selected{% endif %}>20:00</option>
        <option value="21:00" {% if survey.end_time == "21:00" %}selected{% endif %}>21:00</option>
        <option value="22:00" {% if survey.end_time == "22:00" %}selected{% endif %}>22:00</option>
        <option value="23:00" {% if survey.end_time == "23:00" %}selected{% endif %}>23:00</option>
      </select>
  <ul class="validation-warnings-list hidden">
    <li><span class="input-validation-warning" id="enddate-validation-warning"></span></li>
    <li><span class="input-validation-warning" id="endtime-validation-warning"></span></li>
  </ul>
</section>

<section>
  <h4>{{ _('Kyselyn kuvaus') }}</h4>
  <p>{{ _('Voit muokata kyselyn kuvausta') }}</p>
  <textarea id="survey-information" class="form-control">{% if survey.surveyname %}{{survey.survey_description}}{% endif %}</textarea>
</section>

<!-- TBC
<section>
  <h2>Priorisoitavat ryhmät</h2>
  <p style="color:orangered">Ryhmien muokkaus on toistaiseksi pois käytöstä!</p>
  <p>Syötä ryhmät jotka kyselyyn vastaaja voi asettaa mielekkyysjärjestykseen. Anna kullekkin ryhmälle myös sen enimmäiskoko. Halutessasi voit lisätä lisätietoa kohteesta omiin sarakkeisiinsa. Sarakkeen voit luoda painamalla "+ Lisää tietokenttä".</p>
  {% if not edit_choices %}<p style="color:orangered">Kyselyssä on jo vastauksia. Ryhmiin ei voi tehdä muutoksia!</p>{% endif %}
  <table class="table table-dark table-striped table-hover choice-table-main">
    <thead class="">
      <tr id="column-delete-btns">
        <td></td>
        <td></td>
        {% if survey is not none %}
          {% if survey.choices|length > 0 %}
            {% for variable_column in survey.variable_columns %}
            <td class=""><div class="delete-col-btn"></div></td>
            {% endfor %}
          {% endif %}  
        {% endif %}
      </tr>
      <tr id="choice-table-headers">
        <th class="constant-header" col-validation-regex=".{5,}" validation-text="yli 5 merkkiä pitkiä">Nimi</th>
        <th class="constant-header" col-validation-regex="\d+" validation-text="kokonaislukuja">Enimmäispaikat</th>
      {# additional columns if template loaded with survey parameter present #}
      
      {% if survey is not none %}
        {% if survey.choices|length > 0 %}
          {% for colname in survey.variable_columns %}
            <th class="variable-header">{{colname}}</th>
          {% endfor %}
        {% endif %}
      {% endif %}

      <th class="variable-header" id="add-column-header">+ Lisää tietokenttä</th>
    </tr>
  </thead>
  <tbody id="choiceTable" class="">
  {# If survey parameter is present, create rows for each choice #}
  {% if survey is not none %}
    {% if survey.choices|length > 0 %}
      {% for choice in survey.choices %}
        <tr>
          <td>{{ choice.name }}</td>
          <td>{{ choice.seats }}</td>
          {% for colname in survey.variable_columns %}
            <td>{{choice[colname]}}</td>
          {% endfor %}
          <td class="action-cell" tabindex="0"><div class="delete-row-btn"></div></td>
        </tr>
      {% endfor %}

    {# If survey parameter is not set, create empty row with columns for constant values #}
    {% endif %}
    {% else %}
      <tr>
        <td class="empty" tabindex="0">tyhjä</td>
        <td class="empty" tabindex="0">tyhjä</td>
        <td class="action-cell" tabindex="0"><div class="delete-row-btn"></div></td>
      </tr>
  {% endif %}
    
  </tbody>
</table>
<ul class="validation-warnings-list hidden" id="choicetable-validation-warnings">
</ul>

<button onclick="addRow()" class="new-row-input btn btn-secondary" name="addchoice">+ Lisää vaihtoehto</button>
</section>
-->
<input type="hidden" id="edit_choices" value="{{edit_choices}}">
<section>
<input type="hidden" value="{{survey_id}}" id="survey_id">
<button type="submit" class="btn btn-primary" value="Tallenna muutokset" onclick="saveEdit()" name="save_edit">{{ _('Tallenna muutokset') }}</button>
</section>
<section>
  <a href="/surveys/{{ survey_id }}/answers" class="btn btn-primary">{{ _('Palaa kyselyn vastauksiin') }}</a>
</section>

{% endblock %}