{% extends 'base.html' %}

{% block title %}Luo uusi kysely CSV-tiedostosta{% endblock %}


{% block content %}


{% if session.email %} 
{% if teacher %}
<form method="post" enctype="multipart/form-data">
  <p>Kyselyn nimi</p>
  <input type="text" name="name"><br>
  <p>Kyselyn kuvaus, pari virkettä</p>
  <textarea name="desc" rows="4" cols="25"></textarea><br>
  <p>Valitse tiedosto</p>
  <input type="file" name="file"><br>
  <input type="submit" value="Luo Kysely">
</form>
{% endif %}
{% if not teacher %}
<br>
Sinulla ei ole oikeuksia luoda kyselyitä<br>
<a href="/">Etusivulle</a>
{% endif %}
{% else %}
<br>
Kirjaudu sisään päästäksesi alueelle<br>
<a href="/login">Kirjaudu sisään</a>

{% endif %}

{% endblock %}