{% extends 'base.html' %}

{% block title %}{{ _('Muokkaa ryhmäkokoja') }}{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/create_survey.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_survey.css') }}">
{% endblock %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  </script>
    <h1 class="page-title">
      <img src="{{ url_for('static', filename='images/note_add_white_36dp.svg') }}"
           alt=""
           class="d-inline-block align-text-middle"
      >
      {{ _('Muokkaa ryhmäkokoja')}}
    </h1>

    <section>
      <h2>{{ survey.surveyname }}</h2>
    </section>
    <i>{{ _('Vastauksia') }}: {{ survey_answers_amount }}</i><br>
    <i>{{ _('Jaettavia paikkoja')}}: {{ available_spaces }}</i><br>
    {% if survey_answers_amount > available_spaces %}
    <br>
    <h4 style="color:orangered">{{ _('Kyselyssä on enemmän vastaajia kuin jaettavia paikkoja.') }}</h4>
    {% endif %}
    <br>
    
    <section>
      <h2>{{ _('Priorisoitavat ryhmät') }}</h2>
      <p>{{ _('Vaihtoehdon suositus kuvaa sitä, kuinka moni vastaaja on valinnut sen ensimmäiseksi, toiseksi tai kolmanneksi valinnakseen kyselyssä.') }}</p>
      <p><b>{{ _('HUOM') }}!</b> {{ _('Jos muokkaat ryhmän nimeä, ei ryhmäkoon muokkaus tallennu.') }}</p>
      <table class="table table-dark table-striped table-hover choice-table-main">
        <thead class="">
          <tr id="choice-table-headers">
            <th class="constant-header">{{ _('Nimi') }}</th>
            <th class="constant-header" col-validation-regex="\d+" validation-text="kokonaislukuja">{{ _('Enimmäispaikat') }}</th>
            <th class="constant-header">{{ _('Suositus') }}</th>
          
          {% for colname in survey.variable_columns %}
            <th class="variable-header">{{colname}}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody id="choiceTable" class="">
        {% for choice in survey.choices %}
          <tr>
            <td>{{ choice.name }}</td>
            <td>{{ choice.seats }}</td>
            <td>{{ popularities[choice.id] }}</td>
            {% for colname in survey.variable_columns %}
              <td>{{choice[colname]}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>

    <section>
      <input type="hidden" value={{survey_id}} id="survey_id">
      <button type="submit" class="btn btn-primary" value="Tallenna muutokset" onclick="saveGroupSizes()" name="savegroupsizes">{{ _('Tallenna muutokset') }}</button>
    </section>
{% endblock %}