{% extends 'base.html' %}

{% block title %}Hospital{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>Hospital</h1>
  <a href="/">Home page</a></br>
  <a href="/hospitalinput_test">New search</a></br></br>
  Time taken = {{ time }}
  </br>
  Average happiness of groups = {{ happiness }}
  </br></br>
  {% for g in groups_dict.keys() %}
    Group {{ groups_dict[g].name }}:
    {% for s in groups_dict[g].participants %}
      <li>
        {{ students_dict[s].name }}, got his/her {{ students_dict[s].happiness}} choice
      </li> 
    {% endfor %}
    </br>  
  {% endfor %}
  
{% endblock %}