{% extends 'base.html' %}

{% block title %}Hospital input{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>Hospital input</h1>
  <a href="/">Home page</a></br></br>
  <form action="/results" method="POST">
    group_n: <input type="number" name="group_n"><br>
    student_n: <input type="number" name="student_n"><br>
    max_selections: <input type="number" name="max_selections"><br>
    max_group_size: <input type="number" name="max_group_size"><br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}