{% extends 'base.html' %}

{% block title %}Etusivu{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  </br>
  <h2>Tervetuloa</h2></br>
  <div class="list-group">
    <table>
      <tr>
        {% if is_teacher %}
        <td>
          <a href="/surveys/create" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><img src="{{ url_for('static', filename='images/note_add_white_36dp.svg') }}" alt="" width="34" height="30" class="d-inline-block align-text-top">  Luo uusi kysely</h5>
            </div>
            <small class="text-muted">Luo uusi kysely tai tuo valmiit vastausvaihtoehdot csv-tiedostosta</small>
          </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
        <td>
          <a href="/surveys" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><img src="{{ url_for('static', filename='images/list_white_36dp.svg') }}" alt="" width="34" height="30" class="d-inline-block align-text-top">  Näytä vanhat kyselyt</h5>
            </div>
            <small class="text-muted">{% if is_teacher %}Luotuja kyselyitä: {{ surveys_created }} kpl {% else %} Tarkastele käynnissä olevia kyselyitä ja vanhoja vastauksia {% endif %}</small>
          </a>
        </td>
      </tr>
    </table>
    </br>

    {% if exists %}
    </br><label>Käynnissä olevat kyselyt</label></br>
    {% for d in data %}
    <a href="/surveys/{{ d[0] }}/answers" class="list-group-item list-group-item-action flex-column align-items-start" >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><img src="{{ url_for('static', filename='images/assignment_white_36dp.svg') }}" alt="" width="34" height="30" class="d-inline-block align-text-top">  {{ d[1] }}</h5>
        <small class="text-muted">Vastausaika loppuu {{ format_datestring(d[3]) }}</small>
      </div>
      <small class="text-muted">Kyselyyn on vastannut {{ d[2] }} opiskelijaa</small>
    </a></br>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}
