{% extends 'base.html' %}

{% block title %}Hello World{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>Index</h1>
  <p>Hello {{session.email}}</p>
  <a href="/input">Kokeile luoda dataa</a><br>
  <a href="/excel">Kokeile valmiilla datalla</a><br>
  <a href="/previous_surveys">Näytä vanhat kyselyt</a>
  <br/><br/>
  {% if not session.user_id %}
  <a href="/login">Kirjaudu sisään</a><br>
  <a href="/register">Rekisteröidy</a>
  {% endif %}
  {% if session.user_id %}
  <a href="/create_survey">Luo uusi kysely</a></br></br>
  <a href="/logout">Kirjaudu ulos</a>
  {% endif %}
{% endblock %}
