{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h2 class="display-4">Rekisteröidy</h2>
  <form action="/register" method="POST">
      <label for="email">Sähköposti</label>
      <input type="email" class="form-control" name="email">

      <label for="firstname">Etunimi</label>
      <input type="text" class="form-control" name="firstname">

      <label for="lastname">Sukunimi</label>
      <input type="text" class="form-control" name="lastname">

      <label for="firstname">Opiskelijanumero</label>
      <input type="number" class="form-control" name="student_number">

      <label for="password1">Salasana</label>
      <input type="password" class="form-control" name="password1" >

      <label for="password2">Vahvista salasana</label>
      <input type="password" class="form-control" name="password2" ></br>

      <label for="user_type">Rooli:</label>
      <select class="form-select" name="isteacher">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
      </select><br>
      
      <button type="submit" class="btn btn-primary" name="register">Luo tunnus</button>
  </form>
  
{% endblock %}