{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h2>Rekisteröidy</h2>
  <form action="/register" method="POST">
      <label for="email">Sähköposti</label>
      <input type="email" class="form-control" name="email">

      <label for="name">Nimi</label>
      <input type="text" class="form-control" name="name">

      <label for="student_id">Opiskelijanumero</label>
      <input type="number" class="form-control" name="student_number">

      <label for="user_type">Rooli:</label>
      <select class="form-select" name="isteacher">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
      </select><br>
      
      <button type="submit" class="btn btn-primary" name="register">Luo tunnus</button>
  </form>
  
{% endblock %}