{% extends 'base.html' %}

{% block title %}Kysely{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<a href="/">Palaa etusivulle</a></br></br>
<script>
    $( function() {
        $( "#sortable1" ).sortable();
    });
</script>
<ul id="sortable1" class="connectedSortable">
    {% for group in choices %}
    <li class="ui-state-default" id="{{ group[0] }}">{{ group[1] }}</li>
    {% endfor %}
</ul>
<input type="submit" value="Submit" onclick="submit()">
<input type="hidden" id="survey_id" value="{{ survey_id }}">
<br>
<br>
<br>
<br>
<div id="fade" style="display: none;">
    <span id="message">
    </span>
</div>
{% endblock %}
