{% extends 'base.html' %}

{% block title %}{{ _('Aiemmat kyselyt') }} {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
</br>
  <h2><img src="{{ url_for('static', filename='images/list_white_36dp.svg') }}"width="42" height="47" class="d-inline-block align-text-top">  {{ _('Aiemmat kyselyt') }}</h2>

  <BR>
    <table id="surveys_table" cellspacing="10" class="table table-striped">
      <thead class="table-dark">
        <tr>
            <th scope="col"><p><img src="{{ url_for('static', filename='images/assignment_white_36dp.svg') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">  {{ _('Kysely') }}</p></th>
            <th scope="col"><p><img src="{{ url_for('static', filename='images/toggle_on_white_36dp.svg') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">  {{ _('Kyselyn tila') }}</p> </th>
            <th scope="col"><p><img src="{{ url_for('static', filename='images/toggle_off_white_36dp.svg') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">  {{ _('Ryhmät luotu') }}</p></th>
            <th scope="col" style="min-width:22em;"><p><img src="{{ url_for('static', filename='images/menu_white_36dp.svg') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">  {{ _('Toiminnot') }}</p></th>
            <th scope="col"><p><img src="{{ url_for('static', filename='images/schedule_white_36dp.svg') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">  {{ _('Vastausaika päättyy') }}</p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in active_surveys %}
          <td><img src="{{ url_for('static', filename='images/insert_drive_file_white_36dp.svg') }}"width="20" height="20"><a href="/surveys/{{ row[0] }}" class="surveys_link"> {{ row[1] }}</a></td>       <!--survey name--> 
          <td>{% if row[2] %}<p style="color:orangered"> {{ _('Suljettu') }} </p>{% else %} <p style="color:green"> {{ _('Avoin') }} </p> {% endif %}</td>
          <td><p>{% if row[3] %} {{ _('Kyllä') }} {% else %} {{ _('Ei') }} {% endif %}</p></td>
          <td>
            <a href="/surveys/{{ row[0] }}/answers" class="surveys_link"><img src="{{ url_for('static', filename='images/manage_search_white_36dp.svg') }}" width="20" height="20"> {{ _('Tarkastele tuloksia') }}</a><br>
            <a href="#" onclick="copyURL('{{ row[0] }}')" class="surveys_link"><img src="{{ url_for('static', filename='images/content_copy_white_36dp.svg') }}" width="20" height="20"> {{ _('Kopioi kyselyn osoite leikepöydälle') }}</button><br>
            <a href="/surveys/{{ row[0] }}/edit" class="surveys_link"><img src="{{ url_for('static', filename='images/edit_white_36dp.svg') }}" width="20" height="20"> {{ _('Muokkaa kyselyä tai lisää siihen ylläpitäjä') }}</a><br>
            <a href="/surveys/create?fromTemplate={{ row[0] }}" class="surveys_link"><img src="{{ url_for('static', filename='images/folder_copy_white_36dp.svg') }}" width="20" height="20"> {{ _('Kopioi kysely') }}</a><br>
            <a href="/surveys/{{ row[0] }}/delete" onclick="return confirm('Haluatko varmasti poistaa kyselyn?')" class="surveys_link"><img src="{{ url_for('static', filename='images/delete_white_36dp.svg') }}" width="20" height="20"> {{ _('Poista kysely') }}</a>
          </td>
          <td>{{ format_datestring(row[4]) }}</td>

        </tr>
        {% endfor %}
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <tr>
            {% for row in closed_surveys %}
            <td><img src="{{ url_for('static', filename='images/insert_page_break_white_36dp.svg') }}" width="20" height="20"><a href="/surveys/{{ row[0] }}" class="surveys_link"> {{ row[1] }}</a></td>       <!--survey name--> 
            <td>{% if row[2] %}<p style="color:orangered"> {{ _('Suljettu') }} </p>{% else %} <p style="color:green"> {{ _('Avoin') }} </p> {% endif %}</td>
            <td>{% if row[3] %}<p style="color:green">{{ _('Kyllä') }}</p>{% else %}<p>{{ _('Ei') }}</p>{% endif %}</td>
              <td>
                <div id="closed_more_info_container_{{ row[0] }}">
                  <label style="cursor: pointer;" onclick="showClosedSurveysOperations('{{ row[0] }}')"  class="surveys_link"><img src="{{ url_for('static', filename='images/menu_white_36dp.svg') }}" alt="" width="20" height="20" class="d-inline-block align-text-top"> {{ _('Näytä') }}</label>
                </div>
              </td>
            <td>{{ format_datestring(row[4]) }}</td>
  
          </tr>
          {% endfor %}
      </tbody>
    </table>

    <script>
      const tResults = "{{ _('Tarkastele tuloksia') }}";
      const tEdit = "{{ _('Muokkaa kyselyä tai lisää siihen ylläpitäjä') }}";
      const tCopy = "{{ _('Kopioi kysely') }}";
      const tDelete = "{{ _('Poista kysely') }}";
      const tDeleteConfirm = "Haluatko varmasti poistaa kyselyn?";

      function copyURL(str) {
        var url = window.location.href;
        if (url.includes("#")) {
          url = url.replace('#', '');
        }
        navigator.clipboard.writeText(url + "/" + str);
      }

      function showClosedSurveysOperations(survey_id) {
        var name = "closed_more_info_container_" + survey_id;
        document.getElementById(name).innerHTML =
          `<a href='/surveys/${survey_id}/answers' class='surveys_link'><img src='{{ url_for('static', filename='images/manage_search_white_36dp.svg') }}' width='20' height='20'> ${tResults}</a><br>` +
          `<a href='/surveys/${survey_id}/edit' class='surveys_link'><img src='{{ url_for('static', filename='images/edit_white_36dp.svg') }}' width='20' height='20'> ${tEdit}</a><br>` +
          `<a href='/surveys/create?fromTemplate=${survey_id}' class='surveys_link'><img src='{{ url_for('static', filename='images/folder_copy_white_36dp.svg') }}' width='20' height='20'> ${tCopy}</a><br>` +
          `<a href='/surveys/${survey_id}/delete' onclick='return confirm("${tDeleteConfirm}")' class='surveys_link'><img src='{{ url_for('static', filename='images/delete_white_36dp.svg') }}' width='20' height='20'> ${tDelete}</a>`;
      }
    </script>
{% endblock %}
