{% extends 'base.html' %}

{% block title %}Kyselyn vastaukset {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h2>{{ survey_name }}</h2>
  <i>Vastauksia: {{ survey_answers_amount }} kpl</i><br>

  <form action="/surveyresults" method="POST">
    <input type="hidden" name="survey_id" value="{{ survey_id }}"></input>
    <button type="submit" class="btn btn-primary" name="algoin_time">Jaa ryhmiin</button>
</form><br>
<a href="/previous_surveys">Palaa kyselylistaan</a>

  <BR><BR>
    <table id="answers_table" cellspacing="10" class="table">
      <thead class="table-primary">
        <tr>
            <th>Sähköposti</th>
            <th>Valinnat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for row in survey_answers %}
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
