{% extends 'base.html' %}

{% block title %}Kyselyn vastaukset {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
</br><h5><img src="{{ url_for('static', filename='images/assignment_white_36dp.svg') }}" alt="" width="34" height="30" class="d-inline-block align-text-top">  {{ survey_name }}</h5>
<i>Vastauksia: {{ survey_answers_amount }} kpl</i><br>


{% if closed %}
<a href="/surveys/{{ survey_id }}/results"><button type="submit" class="btn btn-primary" name="algoin_time">Jaa ryhmiin</button></a>
<form action="/surveys/{{ survey_id }}/open" method="POST" onsubmit="return confirm ('Haluatko varmasti avata kyselyn?')">
  <button type="submit" class="btn btn-warning" name="openin_time" style="float: right;" onclick="">Avaa kysely uudelleen</button>
</form>
{% else %}
<form action="/surveys/{{ survey_id }}/close" method="POST" onsubmit="return confirm ('Haluatko varmasti sulkea kyselyn?')">
  <button type="submit" class="btn btn-danger" name="closin_time" style="float: right;" onclick="">Sulje kysely</button>
</form>
{% endif %}
<br>

<a href="/previous_surveys">Palaa kyselylistaan</a>

  <BR><BR>
    <table id="answers_table" cellspacing="10" class="table table-striped">
      <thead class="table-dark">
        <tr>
            <th><img src="{{ url_for('static', filename='images/email_white_36dp.svg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">  Sähköposti</th>
            <th>Valinnat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for row in survey_answers %}
          <td><p>{{ row[0] }}</p></td>
          <td><p>{{ row[1] }}</p></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
