tr.editable {
    border: 3px blue solid;
    background-color: aquamarine;
    height: 40px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#newRow:not(.editable){
    background-color: darkgray;
}

td>input {
    height: 40px;
}


table,th,td,tr.choice-table {
    border: 1px black solid;
    border-collapse: collapse;
    width: 1200px;
}

section {
    margin-bottom: 40px;
}

th:hover,td:hover {
    background-color: #323539;
}

.variable-header:hover {
    cursor: pointer;
}

.constant-header:hover {
    cursor: not-allowed;
}

th input {
    background-color: #323539;
    width: 100%;
    color: white;
    font-weight: bold;
    border:0;
    outline:0;
    outline:none!important;
}

.edited {
    background-color: #323539 !important;
}

table th,td {
    position: relative;
}

th.edited:after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    border: 2px solid red;
}