h1, h2, h3, h4, h5, label {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

b, small {
    color: rgb(255, 255, 255);
    opacity: 0.9;
}

.left {
    width: 50%;
    padding-top: 50px;
    float: left;
}

.right {
    width: 50%;
    padding-top: 50px;
    float: left;
}

.top-container {
    height: 50px;
    width: 100%;
}

.list-br {
    display: block;
    margin: 3px 0;
}

#sortable1, #sortable2 {
    min-height: 20px;
    min-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    color: #fff;
}

#sortable1 li, #sortable2 li {
    border-radius: 5px;
    text-align: left;
    margin: 0 5px 5px 5px;
    padding: 7px;
    background-color: rgb(24, 26, 27);
    border-color: #4b4848;
    cursor: grab;
}

#fade {
    border-radius: 5px;
    display: none;
    background: green;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding-top: 10px;
}

p, i {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.navbar {
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

.list-group-item {
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    background-color: rgb(24, 26, 27);
  }

.list-group-item:hover {
    background-color: rgb(24, 26, 27);
    opacity: 0.7;
}

.btn-light {
    background-color: #5e0474;
}

.navbar-expand-lg {
    background-color: #5e0474;
}

body {background-color: rgb(24, 26, 27);}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: #ffffff;
    opacity: 0.8;
}

.table>:not(caption)>*>* {
    color: #ffffff;
    opacity: 0.8;
}


