h1 {
    color: red;
}

.left {
    width: 50%;
    padding-top: 50px;
    float: left;
}

.right {
    width: 50%;
    padding-top: 50px;
    float: left;
}

.top-container {
    height: 50px;
    width: 100%;
}

.list-br {
    display: block;
    margin: 3px 0;
}

#sortable1, #sortable2 {
    border: 1px solid;
    min-height: 20px;
    min-width: 50%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    color: #fff;
}

#sortable1 li, #sortable2 li {
    border-radius: 10px;
    text-align: center;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    background-color: #076aa3;
    cursor: grab;
}

#fade {
    border-radius: 10px;
    display: none;
    background: green;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding-top: 10px;
}