{% extends 'base.html' %}

{% block title %}Palaute{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  </br>
  <h2>Kyselyt</h2>
  <table cellspacing="10" class="table table-striped">
    <thead class="table-dark">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Min choices</th>
          <th>Survey choices</th>
          <th>Survey end date</th>
          <th>Allowed denied choices</th>
          <th>Allow search visibility</th>
          <th>Linkki</th>
      </tr>
    </thead>
    <tbody>
        {% for survey in data %}
        <tr>
            <td><p>{{ survey[0] }}</p></td>
            <td><p>{{ survey[1] }}</p></td>
            <td><p>{{ survey[2] }}</p></td>
            <td><p>{{ survey[6] }}</p></td>
            <td><p>{{ survey[3] }}</p></td>
            <td><p>{{ survey[4] }}</p></td>
            <td><p>{{ survey[5] }}</p></td>
            <td><a href="/surveys/{{survey[0]}}">Linkki</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}