{% extends 'base.html' %}

{% block title %}Palaute{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  </br>
  <h2>{{feedback[1]}}</h2></br>
  <form action="/admintools/feedback/{{ feedback[0] }}/close" method="POST" onsubmit="return confirm ('Haluatko varmasti sulkea palautteen?')">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-warning btn-sm" name="solvin_time" style="float: right;">Sulje palaute</button>
  </form>
  <section>
    <label>Palautteen tyyppi: {{feedback[2]}}</label>
  </section>
  <section>
    <label>Palautteen lähettäjä: {{feedback[3]}}</label>
  </section>
  <section>
    </br></br>
    <p>{{feedback[4]}}</p>
  </section>
{% endblock %}