{% extends 'base.html' %}

{% block title %}Tilastot{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  </br>
  <h2>Tilastot</h2></br>
  <table cellspacing="10" class="table table-striped">
    <thead class="table-dark">
      <tr>
          <th>Jakajassa luodut kyselyt</th>
          <th>Kaikki käynnissä olevat kyselyt</th>
          <th>Rekisteröityneet opettajat</th>
          <th>Rekisteröityneet opiskelijat</th>
          <th>Vastauksia luotu</th>
      </tr>
    </thead>
    <tbody>
        <td><p>{{ data[0] }}</p></td>
        <td><p>{{ data[1] }}</p></td>
        <td><p>{{ data[4] }}</p></td>
        <td><p>{{ data[2] }}</p></td>
        <td><p>{{ data[3] }}</p></td>
    </tbody>
  </table>
{% endblock %}