flask
coverage
pdoc3
openpyxl
Flask-SQLAlchemy
python-dotenv
psycopg2-binary
selenium==4.9.0
robotframework
robotframework-seleniumlibrary 
matplotlib
scipy
Flask-APScheduler
markdown
Flask-WTF
pytest-playwright
