name: Deploy to production

on:
  release:
    types: [published]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: pienryhmien-optimointi
          tags: production ${{ github.sha }}
          containerfiles: |
            ./Dockerfile.prod
          build-args: VITE_STAGE=production

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/pienryhmien-optimointi
          username: pienryhmien-optimointi+robotti
          password: ${{ secrets.QUAY_TOKEN }}

