name: React CI

on:
  push:
    branches: ["react"]
  pull_request:
    branches: ["react"]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci
      - name: Run Vitest and get coverage
        run: npm run test -- --coverage
      - name: Run Eslint
        run: npm run lint
        continue-on-error: true
      - name: Check Prettier formatting
        run: npx prettier . --check
        continue-on-error: true
